/* Estilos para el formulario de inicio de sesión */
.form-signin {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-signin .card-header,
.form-signin .card-footer {
    background-color: #f8f9fa;
}

.form-signin .card-body {
    padding: 20px;
}

.form-signin .btn-primary {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    background-color: #0056b3;
    border: none;
}

.form-signin .btn-primary:hover {
    background-color: #004494;
}

/* Estilos para la plantilla de registro */
.register .card-header,
.register .card-body,
.register .card-footer {
    background-color: #f8f9fa;
}

.register .form-control {
    margin-bottom: 10px;
}

.register .btn-primary {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

.register .btn-primary:hover {
    background-color: #004494;
}

.register .form-check-input {
    margin-top: 0.3rem;
    margin-right: 0.5rem;
}

.register .form-check-label {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 0;
}

.register .form-check {
    display: flex;
    align-items: center;
}

/* Estilos para mensajes de confirmación de envío */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.message {
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    text-align: center;
}

.message h1 {
    color: #0056b3;
    margin-top: 0;
}

.message p {
    color: #333333;
    font-size: 16px;
}
