{# templates/bundles/TwigBundle/Exception/error.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <title>Error {{ status_code }}</title>
</head>
<body>
    <h1>Error {{ status_code }}: {{ status_text }}</h1>
    <p>Ocurrió un error. Por favor, intenta nuevamente más tarde.</p>
</body>
</html>
